<article class="post">
  <div class="post-container">
    <h2
      href="{{post_content}}"
      target="_blank"
      class="post-title"
    >{{title}}</h2>
    <span class="post-content">{{post_content}}</span>

    <p class="meta">
      by
      {{user.username}}
      on
      {{format_date created_at}}
      |
      <a href="/post/{{id}}">{{comments.length}}
        {{format_plural "comment" comments.length}}</a>
    </p>
  </div>
</article>